---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro'
import Experience from '../components/Experience.astro'
import Articles from '../components/Articles.astro';
import Certificates from '../components/Certificates.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div>
			<Intro title='Daisuke Yamamoto' />
			<Experience title='Experience' />
			<Articles count={20} />
			<Certificates title='Certificates' />
			<Footer title='Daisuke Yamamoto' />
		</div>
	</main>
</Layout>

<style>
	body {
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
		line-height: 1.6;
	}
</style>
