---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<section id="intro">
    <h1>{title}</h1>
    <p>Welcome to my portfolio</p>
</section>
<style>
    section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #intro {
        background-color: #333;
        color: #fff;
    }
    #intro div {
        text-align: center;
    }
    h1, h2 {
        margin: 0 0 20px;
        border-bottom: 2px solid #333;
    }
</style>
